<div class="jumbotron">
  <p class="lead"><strong>City Guide</strong> allow you to find the temperatures in many cities.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Cities Available</h4>
    <ul>
      <li>
        <a href="/cities/chicago">Chicago</a>
      </li>
    </ul>
  </div>

</div>

